@model EcommerceProject.ViewModels.ViewModel_Customer
@{
    ViewData["Title"] = "Customer Edit";
    Layout = "_MyLayout";
}
<h2 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h2>
<div class="container">
    <form class="user" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control form-control-user" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control form-control-user" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control form-control-user" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="UserTypeId" class="control-label"></label>
                <select asp-for="UserTypeId" class="form-control" asp-items="Model.UserTypeList">
                    <option>Select your Category...</option>
                </select>
            </div>
        </div>
    </form>
</div>